body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 193.15mm;
} 
.greeting-wrapper {
    width: 396.8503937px; /* 396.85 pixels width */
    height: 559.37007874px; /* 559.37 pixels height */
    background-color: #ffffff;
    border: 0.6mm solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2.2mm 4.3mm rgba(0, 0, 0, 0.1);
    
    z-index: 1;
    
}
.greeting-img img {
  position: absolute;
  width: 125mm;
  height: 188mm;
  top: 10mm;
  margin-right: 10mm;
  box-shadow: 3mm 3mm 5mm gray;
  z-index: -1;
}


.greeting-content {
    text-align: center;
    flex-grow: 1;
    z-index: 1;
    margin-left: 13mm;
    margin-top:-5mm;
}
.greeting-recipient-name {
  text-align: center;
  font-size: 13.3mm;
  color: #c71585;
  margin-bottom: 0mm;
  margin-left: 8mm;
  margin-top: 4mm;
  font-weight: bold;
  font-family: 'Alex Brush';
  z-index: 2;
}
.greeting-heading {
  text-align: center;
  font-size: 7mm;
  color: #8b0000;
  margin-bottom: 4mm;
  margin-left: 6mm;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}
.greeting-sub-heading {
  font-size: 18pt;
  color: #dfb80f;
  margin-bottom: 2mm;
  margin-left: 8mm;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.greeting-pre-message, 
.greeting-message, 
.greeting-closing-message, 
.greeting-personal-note,
.greeting-date,
.greeting-occasion,
.greeting-special-instructions {
  font-size: 11pt;
  color: #0f0e0c;
  line-height: 1.5;
  text-align: center;
  margin-left: 10mm;
  font-weight: 300;
}
.greeting-message {
  font-style: italic;
  color: #ff69b4;
  text-align: center;
}
.greeting-sender-name {
  font-size: 16pt;
  color: #c71585;
  margin-top: 2mm;
  font-weight: bold;
  margin-left: 8mm;
}
.greeting-special-instructions {
  margin-top: -0.4mm;
  font-size: 4.6mm;
  color: #8b0000;
  font-weight: bold;
  margin-left: 1mm;
}

/* Optional: Add a background pattern or subtle texture */
.greeting-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}