
body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
} 
.greeting-wrapper {
    width: 396.8503937px;
    height: 559.37007874px;
    background-color: #dbdbdb;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.greeting-img img {
    width: 396px;
    height: 562px;
  
}

.greeting-content {
    text-align: center;
    flex-grow: 1;
    margin-top: 124.7px;
    margin-left: 37.7px;
    position: absolute;
}
.greeting-recipient-name {
   text-align: center;
    font-size: 54px;
    color: #c71585;
    margin-top: -15.1px;
    font-weight: bold;
    font-family: 'Alex Brush';
	
}
.greeting-heading {
  text-align: center;
  font-size: 19.2px;
  color: #8b0000;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}
.greeting-sub-heading {
  font-size: 16px;
  color: #696969;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.greeting-pre-message, 
.greeting-message, 
.greeting-closing-message, 
.greeting-personal-note,
.greeting-date,
.greeting-occasion,
.greeting-special-instructions {
  font-size: 14.4px;
  color: #333333;
  margin-bottom: -3px;
  line-height: 1.5;
  text-align: center;
}
.greeting-message {
  font-style: italic;
  color: #ff69b4;
  text-align: center;
}
.greeting-sender-name {
  font-size: 16px;
  color: #c71585;
  margin-top: 11px;
  font-weight: bold;
  text-align: center;
}
.greeting-special-instructions {
  margin-top: 7px;
    font-size: 13.6px;
    color: #8b0000;
    font-weight: bold;
    text-align: center;
}

