body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
.greeting-wrapper {
    width: 396.8503937px; /* 396.85 pixels width */
    height: 559.37007874px; /* 559.37 pixels height */
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.greeting-img img {
  width: 425px;
  height: 177px;
}
.greeting-content {
    text-align: center;
    flex-grow: 1;
}
.greeting-recipient-name {
  text-align: center;
    font-size: 2.5rem;
    color: #c71585;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Alex Brush';
}
.greeting-heading {
  text-align: center;
  font-size: 1.2rem;
  color: #8b0000;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}
.greeting-sub-heading {
  font-size: 1rem;
  color: #696969;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.greeting-pre-message, 
.greeting-message, 
.greeting-closing-message, 
.greeting-personal-note,
.greeting-date,
.greeting-occasion,
.greeting-special-instructions {
  font-size: 0.9rem;
  color: #333333;
  margin-bottom: -3px;
  line-height: 1.5;
  text-align: center;
}
.greeting-message {
  font-style: italic;
  color: #ff69b4;
  text-align: center;
}
.greeting-sender-name {
  font-size: 1rem;
  color: #c71585;
  margin-top: 11px;
  font-weight: bold;
  text-align: center;
}
.greeting-special-instructions {
  margin-top: 7px;
    font-size: 0.85rem;
    color: #8b0000;
    font-weight: bold;
    text-align: center;
}
/* Optional: Add a background pattern or subtle texture */
.greeting-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}
/* .greeting-wrapper {
    width: 396.8503937px;
    height: 559.37007874px;
    background-color: #F0E1B9FF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.svg {
  top: 0px;
  width: 41%;
  height: 79%;
  position: absolute;
  left: 123px;
}
.greeting-recipient-name {
  left: 27px;
  font-size: 26px;
  font-weight: bold;
  top: 72px;
  position: absolute;
  text-align: center;
} 
.greeting-sender-name {
  font-size: 22px;
    color: #666;
    top: 111px;
    left: 28px;
    position: absolute;
    text-align: center;
} 
.greeting-heading {
  text-align: center;
    font-size: 40px;
    font-weight: bold;
    top: 187px;
    left: 27px;
    position: absolute;
}
.greeting-sub-heading {
  font-size: 20px;
  top: 282px;
  left: 28px;
  position: absolute;
  text-align: center;
  font-weight: bold;
}
.greeting-pre-message {
  left: 29px;
    font-size: 20px;
    color: #666;
    top: 249px;
    position: absolute;
    text-align: center;
} 
.greeting-message {
  text-align: center;
  left: 23px;
  font-size: 17px;
  top: 147px;
  top: 317px;
  position: absolute;
}
  .greeting-closing-message {
    text-align: center;
    left: 26px;
    font-size: 20px;
    color: #666;
    bottom: 293px;
    position: absolute;
}
  .greeting-personal-note {
    left: 26px;
    font-size: 17px;
    color: #666;
    bottom: 264px;
    position: absolute;
    text-align: center;
} 
.greeting-date {
  left: 130px;
  font-size: 16px;
  color: #666;
  top: 18px;
  position: absolute;
  text-align: center;
}
.greeting-occasion {
  left: 26px;
  font-size: 20px;
  color: #666;
  bottom: 226px;
  position: absolute;
  text-align: center;
}
  .greeting-image {
    background-image: url('image1.png');
    background-size: cover;
    background-position: center;
    height: 200px;  
    left: 104px;
    width: 205px;
    height: 400px;
    position: absolute;
    top: -39px;
  } 
  .greeting-additional-image {
    left: 104px;
    width: 205px;
    margin-top: 48px;
    top: 312px;
    /* background-image: url("img/image.png"); 
    background-size: cover;
    background-position: center;
    height: 400px;
    position: absolute;
    top: -39px;
}
.image {
  left: 0px;
  width: 205px;
  margin-top: 48px;
  top: 312px;
  background-size: cover;
  background-position: center;
  height: 400px;
  position: absolute;
  top: -48px;
}
.greeting-special-instructions {
  text-align: center;
  left: 26px;
  font-size: 14px;
  color: #666;
  bottom: 200px;
  position: absolute;
} */
 /* Basic Reset */
 /* Basic Reset */
 /* * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }*/